body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Arial", sans-serif;
}

.container {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.logo {
    width: 20rem;
    height: auto;
    margin: 0 auto 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: flyFadeIn 1.5s ease forwards;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: default;
}

@keyframes flyFadeIn {
    0% {
        transform: translateY(-20rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.square {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.69s ease-in;
}

.square.fade-in {
    opacity: 1;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.square:hover img {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .container {
        margin-top: 6rem;
        margin-bottom: 1.5rem;
    }
    .logo {
        width: 45%;
    }
    .square {
        width: 7rem;
        height: 7rem;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .logo {
        width: 75%;
    }
    .square {
        width: 5rem;
        height: 5rem;
    }
}